body, html {
  height: 100%;
  margin: 0;
  background: #777;
  color: #222;
  font-family: overpass;
  overflow-y: hidden;
}
p {
  font-size: 18px;
  margin: 10px 0px;
}
h1 {
  font-size: 45px;
  margin: 1px;
}
h2 {
  font-size: 24px;
  margin: 1px;
}
a {
  color: #222;
}

.logo {
  object-fit: contain;
  max-height: 150px;
  max-width: 300px;
  box-sizing: border-box;
  height: 100%;
}
.icon {
  filter: invert(80%);
  height: 32px;
  width: 32px;
  padding: 7px;
}
.filter {
  filter: invert(80%);
}

.tight {
  padding: 0px;
  margin: 0px;
}
.comfy {
  margin: 0px;
  padding: 10px;
}

.card {
  width: 300px;
  background: white;

  padding: 0px;
  /* Card Grid */
  /* margin: 10px 10px auto 10px; */
  /* Card Stack */
  margin: 100px 10px auto 10px;
  height: 100%;
}

.contents {
  display: block;
  width: 300px;
  padding: 0px;
  margin: 0px;
  text-align: center;
}
.right {
  text-align: left;
  padding: 10px 10px 0px 10px;
  width: 280px;
}
.left {
  height: 150px;
 }

.div {
  display: block;
  width: 85%;
  height: 1px;
  background: #ccc;
  margin: 0px auto;
}

.vwrapper {
  margin-top: 50px;
}

#header {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  background: #e00;
  padding: 5px;
  color: white;
  padding-left: 35px;
}

#body {
  width: 100%;
  /* Card Grid */
  /*margin-top: 100px;
  display: flex;
  flex-wrap: wrap;*/
  /* Card Stack */
  display: -webkit-inline-box;
  height: 100%
}
